/node_modules
/dist
/example/node_modules
/example/package-lock.json
/example/dist
.DS_Store

.env

src/experimental/outpath-layer-old
src/experimental/path-outline-extension
src/experimental/outline-layer
